{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	    <!-- Material Design Bootstrap -->
	    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
	    <link href="{% static 'css/df_style.css' %}" rel="stylesheet">
		<title>DATA MANAGEMENT</title>
	</head>
	<body>
		<div id="root">
				
		</div>
		<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
		  <script type="text/javascript">
		    // Animations initialization
		    new WOW().init();

		  </script>
		<script src="{% static 'frontend/main.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	</body>
</html>