.dataframe {
	width: 100%;
	font-size: 11pt;
	font-family: Arial;
	border-collapse: collapse;
	border: 1px solid silver;
	margin-right: 20px;
}

.dataframe th {
	font-weight: bold;
	background-color: lightgreen;
}

.dataframe td, th {
	padding: 5px;
}

.dataframe tr:nth-child(even) {
	background-color: #E0E0E0;
}

.dataframe tr:hover {
	background-color: silver;
	cursor: pointer;
}
